<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <h4>Request prompt</h4>
        <hr>
        <!-- <label for="name">Prompt</label> -->
        <textarea rows="10" placeholder="Enter your prompt here" class="form-control" cols="6"
          [(ngModel)]="promptText"></textarea>

      </div>
      <div>
        <br>
        <button class="btn btn-success" (click)="checkResponse()">
          Send
        </button>
      </div>
      <h4>Response from ChatGPT</h4>
      <hr>
      <h4 *ngIf="showSpinner">Processing, please wait...</h4>
      <div *ngFor="let choice of response?.choices">
        <p *ngFor="let data of getText(choice.text)" class="responseStyle">
          {{data}}
          <br>
        </p>
      </div>
    </div>
    <!-- <div class="col-md-6">
      <h4>Response from ChatGPT AI</h4>
      <hr>
      <h4 *ngIf="showSpinner">Processing, please wait...</h4>
      <div *ngFor="let choice of response?.choices">
        <p *ngFor="let data of getText(choice.text)" class="responseStyle">
          {{data}}
          <br>
        </p>
      </div>
    </div> -->
  </div>
</div>
