<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <div class="card">
        <div class="card-body">
          <div class="row chat-window">
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-12">
              <div class="frame-box">
                <div *ngFor="let item of chatConversation">
                  <p class="card-text padding" [ngClass]="item.cssClass">
                    {{item.person}} : {{getText(item.response)}}
                  </p>

                </div>
                <div><img src="../../assets/ZNeT.gif" *ngIf="showSpinner" width="50px" height="50px"></div>

              </div>
              <br>
              <textarea row="3" cols="15" class="form-control" [(ngModel)]="promptText"
                placeholder="Hit me up with anything.."></textarea>
              <br>
              <button class="btn btn-primary" (click)="checkResponse()">Submit</button>
            </div>
            <!-- <div class="col-md-2">

            </div> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
